[Desktop Entry]
Version=1.0
Name=Analyseur de Stockage
Comment=Analyser et nettoyer l'espace disque
Exec=/usr/bin/debian-storage-analyzer
Icon=drive-harddisk
Terminal=false
Type=Application
Categories=System;GTK;
StartupWMClass=fr.jules.debianstorageanalyzer
Keywords=storage;disk;cleaner;analyseur;disque;nettoyage;
